@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container py-4">
    <h1 class="h3 mb-3">Razor FileManager App</h1>
    <p class="mb-0">
        Otevri <a href="/FileManager">FileManager</a>.
    </p>
</div>
